 body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: rgb(72, 72, 72);
}

a:visited {
  color: inherit;
}

section {
  display: block;
}

div {
  display: block;
}

section.initial-footer {
  background-color: #E60012;
  color: rgb(255, 255, 255);
  padding: 2.25rem 1rem;
}

div.red-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.red-banner a:hover {
  color: inherit;
}

#ninlogo {
  width: 240px;
  height: 75px;
}

div.social {
  display: flex;
  gap: 2rem;
  font-size: 32px;
  padding-top: 10px;
}

section.middle-footer {
  padding: 2rem 1rem;
  background-color: rgb(255, 255, 255);
}

div.middle-container {
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.grid-middle {
  display: grid;
  margin: 1rem auto;
  justify-content: center;
  grid-template-columns: 15.625rem;
  row-gap: 2rem;
}
div.grid-middle div {
  border-left: solid 1px rgb(218, 218, 218);
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}
div.grid-middle div > a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}
div.grid-middle div > a:hover {
  border-bottom: solid 2px rgb(36, 36, 36);
  transition: 200ms;
}
div.grid-middle ul {
  font-size: 0.875rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div.grid-middle ul li {
  margin-top: 0.5rem;
}
div.grid-middle ul li a {
  margin: 0em 0em 1em;
  color: #E60012;
  text-decoration: none;
}
div.grid-middle ul li a:hover {
  color: #AC000D;
  border-bottom: solid 2px #AC000D;
  transition: 200ms;
}

div.privacylogo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

section.end-footer {
  width: 100%;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 1rem 114px;
  position: static;
}

div.end-container {
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.flexbox-end {
  display: flex;
  flex-direction: column;
}
div.flexbox-end .last-row {
  display: block;
}

div.flexbox-contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
div.flexbox-contact a {
  text-decoration: none;
}
div.flexbox-contact a:hover {
  color: rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 255, 255);
  transition: 200ms;
}

svg {
  width: 44px;
  height: 36px;
}

span.change-region {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span.change-region-text {
  padding-left: 5px;
}

@media (min-width: 429px) {
  div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: repeat(2, 15.625rem);
    row-gap: 2rem;
  }
  div.grid-middle div {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  div.red-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: repeat(3, 15.625rem);
    row-gap: 2rem;
  }
}
@media (min-width: 1025px) {
  div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: repeat(4, 15.625rem);
    row-gap: 2rem;
  }
  div.privacylogo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  div.flexbox-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
  div.flexbox-end div.flexbox-contact {
    padding-left: 6rem;
  }
}
@media (min-width: 1440px) {
  div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-areas: "about shop myNintendo support parents community" "about shop myNintendo support privacy community";
    row-gap: 2rem;
    column-gap: 1rem;
  }
  .about {
    grid-area: about;
  }
  .shop {
    grid-area: shop;
  }
  .my-nintendo {
    grid-area: myNintendo;
  }
  .support {
    grid-area: support;
  }
  .parents {
    grid-area: parents;
  }
  .community {
    grid-area: community;
  }
  .privacy {
    grid-area: privacy;
  }
}

/*# sourceMappingURL=style.css.map */
