h2, h3, h4, h5 {
  font-weight: 700;
  letter-spacing: 0px;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(72, 72, 72);
}

.CharactersTitle {
  color: rgb(72, 72, 72);
  font-size: 1.75rem;
  line-height: 1.35;
}

.container-sec {
  margin: 0 auto;
  width: 95%;
}

.gridCharacters {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  margin-right: 0;
}

.card1 {
  width: 100%;
  height: 48%;
}

.Charactersstyles {
  width: 48%;
  height: 100%;
}

.link {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 200ms ease-in-out 0s;
}

.over {
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-in-out 0s;
  background: none;
}

.Charactersstyles:hover .background {
  transform: scale(1);
}
.Charactersstyles:hover .over:hover {
  transform: scale(1.15);
}

.BestSellerDigitali {
  display: flex;
  align-items: center;
  margin: 0;
}

.block {
  display: inline-block;
}

h1 {
  text-align: start;
  margin: 0px;
  padding: 0px;
}

.title_Best_seller {
  margin-right: 1rem;
  margin-bottom: 0px;
  border-right: 1px solid rgb(218, 218, 218);
  padding-right: 1rem;
}

.title_seller {
  font-size: 1.5rem;
  color: rgb(72, 72, 72);
}

.card {
  width: 17rem;
  height: 100%;
}

.card:hover .card-img-top {
  position: relative;
  bottom: 1em;
}
.card:hover .card-title {
  color: #E60012;
}

.card-top {
  width: 100%;
  height: 8.5rem;
}

.card-title {
  color: rgb(72, 72, 72);
}

.card-body {
  width: 100%;
  height: 15rem;
}

.card-title {
  font-size: 1.2rem;
}

.heart {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  color: #AC000D;
  transition: color 200ms ease-in-out 0s;
}
.heart :hover .sparks {
  color: #AC000D;
  display: contents;
  transition-duration: 10s;
  transition-timing-function: ease-out;
}

.svg {
  width: 40px;
  height: 40px;
  fill: white;
  fill-opacity: 1;
  stroke: #E60012;
  stroke-width: 4;
  stroke-opacity: 1;
}
.svg:hover {
  fill: white;
  fill-opacity: 1;
  stroke: #AC000D;
  stroke-width: 4;
  stroke-opacity: 1;
}

.heart-filled {
  background-color: red;
  color: white;
  line-height: 1;
  color: #E60012;
  border-color: #E60012;
  border-width: 3px;
  font-size: 5px;
}

.heart-outline {
  animation: 0s ease 0s 1 normal none running none;
  border: 2px solid #E60012;
  line-height: 1;
  background-color: #E60012;
  color: #E60012;
}

.sparks {
  color: #AC000D;
  display: none;
}

.new {
  width: 75%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.border-left {
  padding-left: 0.2rem;
}

.See_full_list2 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid white;
  text-align: center;
  background-color: #E60012;
  border-radius: 2%;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 160px;
}
.See_full_list2:hover {
  transform: scale(1.1);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out 0s;
  font-weight: 700;
  border: unset;
  color: rgb(255, 255, 255);
}

.full_list {
  color: #E60012;
  text-decoration: underline;
  font-weight: bold;
  width: 100%;
}
.full_list:hover {
  color: #AC000D;
}

.left,
.right {
  color: white;
  border: grey;
  opacity: 20%;
  height: 100%;
  background-color: rgb(72, 72, 72);
  opacity: 50%;
}

.left:hover,
.right:hover {
  background-color: rgb(72, 72, 72);
  opacity: 80%;
  color: white;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .gridCharacters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .card1 {
    width: 49%;
  }
  .Charactersstyles {
    display: flex;
    flex-direction: column;
    width: 47.8%;
  }
}
@media (min-width: 429px) {
  .CharactersTitle {
    font-size: 1.75rem;
    line-height: 1.35;
  }
  .Nintendo {
    font-size: 0.675rem;
  }
  .nameImage {
    font-size: 1.3125rem;
  }
  .Characters {
    font-size: 1.35rem;
  }
  .title_Best_seller {
    font-size: 1.75rem;
  }
}
@media (min-width: 1050px) {
  .container-sec {
    max-width: 71.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
