/*TYPOGRAPHY*/
html,
body {
  width: 100%;
  font-size: 16px;
  color: rgb(72, 72, 72);
  font-family: "Museo Sans Rounded", sans-serif;
}

strong,
h1,
h2 {
  font-weight: 600;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

header {
  margin-bottom: 5em;
}

a,
.fa-solid,
#dropdown,
#search {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

a:hover,
.fa-solid:hover,
input:hover::placeholder,
select:hover,
#search:hover {
  color: #E60012;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.nav_top {
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 1em;
}
.left div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E60012;
}
.left div:first-of-type a {
  display: flex;
  padding: 0 1em;
}
.left div:first-of-type a span {
  font-size: 12px;
  border: 3px solid white;
  border-radius: 2em;
  padding: 0 0.7em;
  margin: 0 0.5em;
  color: white;
}
.left div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-top: auto;
  margin-bottom: auto;
}
.left div:last-of-type select, .left div:last-of-type #search {
  height: 2em;
  background-color: white;
  border: none;
}
.left div:last-of-type:hover {
  border-bottom: 1px solid #E60012;
}

#search {
  width: 450px;
}

.list_nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
  color: inherit;
}

.fa-solid {
  padding: 0 0.3em;
}

.bottom {
  height: 44px;
  border-top: 1px solid #dfdfdf;
  justify-content: center;
}

.wrapper {
  position: relative;
  top: 96px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.background {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(rgb(160, 146, 246), rgb(213, 187, 218), rgb(253, 219, 197));
}

.image {
  padding-top: 35px;
  width: 100%;
  z-index: 2;
}
.image img {
  display: block;
  height: auto;
  margin: auto;
  border-radius: 5px;
}

.outro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  width: 95vw;
  max-width: 1440px;
  z-index: 2;
  margin-bottom: 10em;
}
.outro div:first-child {
  display: flex;
  align-items: center;
  gap: 1em;
}
.outro div:first-child h2 {
  font-size: 30px;
}
.outro a {
  display: block;
  width: 100%;
  background-color: #E60012;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
}
.outro a span {
  color: white;
  font-size: 20px;
}

@keyframes btn {
  from {
    background-color: #E60012;
    padding: inherit;
  }
  to {
    background-color: #AC000D;
    padding: 1em;
  }
}
.btn-effect:hover {
  animation-name: btn;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

.nav_mobile {
  position: fixed;
  bottom: 0px;
  display: none;
  margin-bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 58px;
  width: 96%;
  max-width: 440px;
}
.nav_mobile div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  border: 1px solid rgb(239, 239, 239);
  background-color: white;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
}
.nav_mobile div .btn_nav_mobile {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  background-color: white;
  border: none;
  width: 86.5px;
}
.nav_mobile div .btn_nav_mobile .mobile_bottom {
  align-self: center;
  font-size: 25px;
}
.nav_mobile div .round {
  background-color: red;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: -1em;
  border: none;
}
.nav_mobile div .round .red_icon {
  color: white;
}

.separator {
  width: 95vw;
  margin: auto;
  position: relative;
  top: 8em;
  max-width: 1440px;
}

@media screen and (max-width: 1025px) {
  .nav_top,
  .left,
  .left > div:first-of-type {
    width: 100%;
    justify-content: flex-start;
  }
  .list_nav,
  .nav_top > div:last-of-type {
    display: none;
  }
  .nav_top {
    height: 45px;
  }
  .wrapper {
    top: 45px;
  }
  .background {
    height: 45em;
  }
  .image {
    width: 100%;
    padding: 0;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .outro {
    text-align: center;
    flex-direction: column;
    line-height: 2em;
    justify-content: space-evenly;
    gap: 1em;
  }
  .outro div {
    width: 100%;
    margin-top: 0.5em;
    flex-direction: column;
  }
  .outro div div {
    width: 100%;
  }
  .nav_mobile {
    display: block;
  }
  .separator {
    position: relative;
    width: 95%;
    top: 5em;
  }
}
@media screen and (max-width: 375px) {
  .background {
    height: 33em;
  }
}
@media screen and (max-width: 450px) {
  .background {
    height: 37em;
  }
}
@media screen and (max-width: 600px) {
  .background {
    height: calc(100% - 1.5em);
  }
}
@media screen and (max-width: 622px) {
  .outro > span {
    display: none;
  }
}
@media screen and (min-width: 650px) {
  .background {
    height: calc(100% - 8.8em);
  }
}
@media screen and (min-width: 700px) {
  .background {
    height: calc(100% - 8.2em);
  }
}
@media screen and (min-width: 825px) {
  .background {
    height: calc(100% - 8em);
  }
}
@media screen and (min-width: 950px) {
  .background {
    height: calc(100% - 7.5em);
  }
}
@media screen and (min-width: 1026px) {
  .background {
    height: calc(100% - 9em);
  }
  .outro {
    top: 28em;
  }
}
@media screen and (min-width: 1130px) {
  .background {
    height: calc(100% - 9.5em);
  }
  .outro {
    top: 30em;
  }
}
@media screen and (min-width: 1210px) {
  .background {
    height: calc(100% - 10em);
  }
  .outro {
    top: 31.5em;
  }
}
@media screen and (min-width: 1300px) {
  .background {
    height: calc(100% - 10.5em);
  }
  .outro {
    top: 33em;
  }
}
@media screen and (min-width: 1440px) {
  .big {
    max-width: 1440px;
  }
  .background {
    height: calc(100% - 11em);
  }
  .outro {
    top: 35em;
  }
}
.section-text-main {
  font-size: 1.2rem;
  padding: 0 1em 0 0;
}

.section-title {
  margin: 0.7em 0 1em 0;
  font-size: 1.7rem;
}

.section-img-main {
  margin: 0 0 2em 0;
}

.divider {
  margin: 2em 0;
}

.news {
  margin-bottom: 2em;
}

/* BUTTONS */
.btn-sec, .btn-sec-see-all {
  color: #fff;
  background: #E60012;
  border-radius: 0.3rem;
  transition: 0.2s;
  font-size: 1.1rem;
  transition: 0.3s;
}
.btn-sec-main {
  margin: 1.8em auto;
  display: block;
  text-align: center;
  padding: 0.8em 1.5em;
}
.btn-sec-main:hover, .btn-sec-main:focus {
  background: #AC000D;
  padding: 1.1em 1.8em;
  color: #fff;
}
.btn-sec-see-all {
  padding: 0.8em 1em;
  width: 100%;
  display: block;
  text-align: center;
  transition: 0.3s;
}
.btn-sec-see-all:hover {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  color: #fff;
  background: #AC000D;
}

.card-hover {
  color: rgb(72, 72, 72);
}
.card-hover:hover {
  color: #E60012;
}

/* CARD */
.info {
  margin: 0.8em 0;
  font-weight: 300;
}

.header-text {
  height: 3.3rem;
}

.read-more {
  border-bottom: 2px solid #E60012;
  font-size: 1rem;
  display: inline-block;
  margin: 1.5em 0 0 0;
  font-weight: 600;
  color: #E60012;
}
.read-more:hover {
  color: #AC000D;
  border-bottom-color: #AC000D;
}

.big {
  width: 100%;
  margin: 0 0 3em 0;
}

.card-description {
  margin: 1.5em 0 0.8em 0;
  font-size: 1rem;
}

.card-image {
  border-radius: 0.3em;
  width: 100%;
}

/* CARD SMALL */
.card-small {
  width: 48%;
  margin: 0 0 2em 0;
}

.card-body-small {
  height: 5rem;
}

/* LAYOUT */
.container {
  width: 95%;
  margin: 1em auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .section-text-main {
    font-size: 1.3rem;
  }
  .big {
    max-width: 48%;
  }
  .flex {
    flex-direction: row;
  }
  .card-small {
    width: 22%;
  }
  .promotional-subtitle {
    line-height: 1.4;
  }
}
@media (min-width: 1050px) {
  .container {
    /* width: 90%; */
    max-width: 71.5rem;
  }
  .section-text-main {
    font-size: 1.3rem;
  }
  .btn-sec-main {
    display: inline-block;
  }
  .btn-sec-see-all {
    width: 25%;
  }
  .flex {
    flex-direction: row;
  }
  .card-image {
    width: 100%;
    height: 100%;
  }
  .card-small {
    width: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
