// HEADER STYLE SCSS

// USE A SCSS MODULE WITH VARIABLES VALID FOR ALL
$text_color: rgb(72, 72, 72);
$basis_red: #E60012;
$effect_red: #AC000D;
$white: rgb(255, 255, 255);
$black: rgb(36, 36, 36);


// INSERT IN A CSS RESET FILE VALID FOR ALL
/*TYPOGRAPHY*/
html,
body {
    width: 100%;
    font-size: 16px;
    color: $text_color;
    font-family: 'Museo Sans Rounded', sans-serif;
    overflow-x: hidden;
}

strong,
h1,
h2 {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

header {
    margin-bottom: 6em;
}



a,
.fa-solid,
#dropdown,
#search {
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s;
}

a:hover,
.fa-solid:hover,
input:hover::placeholder,
select:hover {
    color: $basis_red;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 3;
}

.nav_top {
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    gap: 1em;


    div:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $basis_red;

        nav a {
            color: $text_color;
        }

        a {
            display: flex;
            // justify-content: center;
            // align-items: center;
            // width: 100%;
            // height: 100%;
            padding: 0 1em;

            span {
                font-size: 12px;
                border: 3px solid white;
                border-radius: 2em;
                padding: 0 0.7em;
                margin: 0 0.5em;
                color: white;
            }
        }
    }

    div:last-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid grey;
        margin-top: auto;
        margin-bottom: auto;

        select {
            height: 2em;
            background-color: white;
            border: none;
        }
    }

    div:last-of-type:hover {
        border-bottom: 1px solid $basis_red;
    }
}

#search {
    @extend select;
    width: 330px;
}

.list_nav  a{
    font-size: .875rem;
    font-weight: 500;
}

.list_nav {
    display: flex;
    align-items: center;
    gap: 1em;
    // font-weight: 600;
}

.btn-header {
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    color: inherit;
}

.fa-solid {
    padding: 0 0.3em;
}

.bottom {
    height: 44px;
    border-top: 1px solid #dfdfdf;
    justify-content: center;
}

.wrapper {
    position: relative;
    top: 96px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.background {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(rgb(160, 146, 246), rgb(213, 187, 218), rgb(253, 219, 197));
}

.image {
    // position: absolute;
    padding-top: 35px;
    width: 100%;
    z-index: 2;

    img {
        display: block;
        width: 95%;
        height: auto;
        margin: auto;
        border-radius: 5px;
    }
}

.outro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    width: 95%;
    gap: 2em;
    max-width: 1440px;
    z-index: 2;

    div:first-child {
        display: flex;
        align-items: center;
        gap: 1em;

        h2 {
            font-size: 30px;
        }

        // div {
        //     margin-left: 1em;
        // }
    }

    a {
        display: block;
        width: 100%;
        background-color: $basis_red;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        border: none;

        span {
            color: white;
            font-size: 20px;
        }
    }

    // a:hover {
    //     padding: 1em;
    //     background-color: $effect_red;
    // }
}

@keyframes btn {
    from {
        background-color: $basis_red;
        padding: inherit;
    }

    to {
        background-color: $effect_red;
        padding: 1em;
    }
}

.btn-effect:hover {
    animation-name: btn;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    // transform: scale(1.1);
    // background-color: $effect_red;
    // transition: all 300ms ease-out 25ms;
}

//navbar sotto

.nav_mobile {
    position: fixed;
    bottom: 0px;
    display: none;
    margin-bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 58px;
    width: 96%;
    max-width: 440px;

    div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        border: 1px solid rgb(239, 239, 239);
        background-color: white;
        border-radius: 100px;
        box-shadow: rgb(0 0 0 / 20%) 0px 0.25rem 0.5rem 0px;

        .btn_nav_mobile {
            display: flex;
            justify-content: center;
            flex: 1 1 auto;
            background-color: white;
            border: none;
            width: 86.5px;

            .mobile_bottom {
                align-self: center;
                font-size: 25px;
            }
        }

        .round {
            background-color: red;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            margin-top: -1em;
            border: none;

            .red_icon {
                color: white;
            }

        }
    }
}


.separator {
    width: 95%;
    max-width: 1440px;
    margin: auto;

    &-sec{
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {

    .nav_top,
    .left,
    .left>div:first-of-type {
        width: 100%;
        justify-content: flex-start;
    }

    .list_nav,
    .nav_top>div:last-of-type {
        display: none;
    }

    .nav_top {
        height: 45px;
    }

    .wrapper {
        top: 45px;
    }

    .background {
        height: 45em;
    }

    .image {
        width: 100%;
        padding: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .outro {
        // position: absolute;
        text-align: center;
        flex-direction: column;
        line-height: 2em;
        justify-content: space-evenly;
        gap: 1em;

        // top: 58.5em;
        div {
            width: 100%;
            margin-top: 0.5em;
            flex-direction: column;

            div {
                width: 100%;
            }
        }
    }

    .nav_mobile {
        display: block;
    }

   
}

@media screen and (max-width: 375px) {
    .background {
        height: 33em;
    }
}

@media screen and (max-width: 450px) {
    .background {
        height: 37em;
    }
}

@media screen and (max-width: 600px) {
    .background {
        height: calc(100% - 1.5em);
    }
}

@media screen and (max-width: 622px) {
    .outro {
        &>span {
            display: none;
        }
    }
}

@media screen and (min-width: 650px) {
    .background {
        height: calc(100% - 8.8em);
    }
}

@media screen and (min-width: 700px) {
    .background {
        height: calc(100% - 8.2em);
    }

    header{
        margin-bottom: 10em;
    }
}

@media screen and (min-width: 825px) {
    .background {
        height: calc(100% - 8em);
    }
}

@media screen and (min-width: 950px) {
    .background {
        height: calc(100% - 7.5em);
    }
}

@media screen and (min-width: 1026px) {
    .background {
        height: calc(100% - 9em);
    }

    .outro {
        top: 28em;
    }
}

@media screen and (min-width: 1130px) {
    .background {
        height: calc(100% - 9.5em);
    }

    .outro {
        top: 30em;
    }
}

@media screen and (min-width: 1210px) {
    .background {
        height: calc(100% - 10em);
    }

    .outro {
        top: 31.5em;
    }
}

@media screen and (min-width: 1300px) {
    .background {
        height: calc(100% - 10.5em);
    }

    .outro {
        top: 33em;
    }
}

@media screen and (min-width: 1440px) {
    .img-main-header {
        max-width: 1440px;
    }

    .background {
        height: calc(100% - 11em);
    }

    .outro {
        top: 35em;
    }
}


.section-text-main {
    font-size: 1.125rem;
    max-width: 70ch;
}

.section-title {
    font-size: 1.7rem;
}

.section-img-main {
    margin: 0 0 2em 0;
    width: 100%;
}

.divider {
    margin: 2em 0;
}

.news {
    margin: 2em 0 2em 0;
}

/* BUTTONS */

.p-rel{
    position: relative;
    bottom: 1em;
}

.btn-sec {
    color: #fff;
    background: $basis_red;
    border-radius: .3rem;
    font-size: 1.125rem;
    transition: .3s;
    font-weight: 600;


    &-main {
        display: block;
        text-align: center;
        padding: .7em 1.8em;

        &:hover,
        &:focus {
            background: $effect_red;
            padding: 1em 2.2em;
            color: #fff;

        }
    }

    &-see-all {
        @extend .btn-sec;
        padding: 0.6em 1em;
        width: 100%;
        display: block;
        text-align: center;
        transition: .3s;
        margin: 1.5em 0 3em 0;
        text-decoration: none;

        &:hover {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-right: 1.5em;
            padding-left: 1.5em;
            color: #fff;
            background: $effect_red
        }
    }




}



/* CARD */
.card-hover:hover{
    cursor: pointer;
}

.card-hover:hover .promotional-subtitle{
    color: $basis_red;
    cursor: pointer;
}

.card-hover:hover .read-more{
    color: $effect_red;
}

.info {
    margin: .8em 0;
    font-weight: 300;
}

.header-text {
    height: 4rem;
}

.read-more {
    border-bottom: 2px solid $basis_red;
    font-size: 1rem;
    display: inline-block;
    margin: 1.5em 0 0 0;
    font-weight: 600;
    color: $basis_red;

    &:hover {
        color: $effect_red;
        border-bottom-color: $effect_red;
    }
}

.big-sec {
    width: 100%;
    margin: 0 0 3em 0;
}

.card-description {
    margin: 1.5em 0 .8em 0;
    font-size: 1rem;
}

.card-image-sec {
    border-radius: .3em;
    width: 100%;
    height: 100%;
}

/* CARD SMALL */
.card-small {
    width: 48%;
    margin: 0 0 2em 0;
}

.card-body-small {
    height: 5rem;
}

/* LAYOUT */

.container-sec {
    margin: 0 auto;
    width: 95%;
}

.flex-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-row-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-button {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
}




@media(min-width:768px) {
    .section-text-main {
        font-size: 1.3rem;
    }

    .big-sec {
        max-width: 48.5%;
    }

    .flex-sec {
        flex-direction: row;
    }

    .card-small {
        width: 23%;
    }

    .promotional-subtitle {
        line-height: 1.4;
    }



}

@media(min-width: 1050px) {

    .btn-sec-main {
        display: inline-block;
    }


    .container-sec {
        /* width: 90%; */
        max-width: 71.5rem;
    }

    .section-text-main {
        font-size: 1.3rem;
        display: inline-block;
    }

    .btn-sec-see-all {
        width: 25%;
    }

    .flex-sec {
        flex-direction: row;
    }



    .card-small {
        width: 23%;
    }

}

// SECTION FEATURED ONLINE STORE

.c-hover:hover  .card-title{
    color: $basis_red;
}

.c-hover:hover .card-img-top{
    position: relative;
    bottom:  1em;
}

.line {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
}

.card-container {
    overflow-x: scroll;
    margin-right: none;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.text {
    margin-top: 20px;
    padding-top: 20px;
}

.featured {
    margin: 8em 0 3em 0;
}




// FOOTER


footer{
    position: relative;
    top: 3em;
}

section {
    display: block;
}

div {
    display: block;
}


section.initial-footer {
    background-color: $basis_red;
    padding: 1.5rem 1rem;
}

div.red-banner {
    color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:hover {
        color: inherit;
    }

    a:visited {
        color: $white;
    }
}

#ninlogo {
    width: 240px;
    height: 75px;
}

div.social {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    padding-top: 10px;
    color: $white;
}


.social-link {
    font-size: 2rem;
}

.social-link  i{
    color: $white;
}

section.middle-footer {
    padding: 2rem 1rem;
    background-color: $white;
}

div.middle-container {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: 15.625rem;
    row-gap: 2rem;

    div {
        border-left: solid 1px rgb(218, 218, 218);
        padding-left: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
    }

    .footer-title-link {
        color: rgb(36, 36, 36);
        text-decoration: none;

        h3 {
            font-size: 1.2rem;
            margin-bottom: 1em;
        }
    }

    .footer-title-link:hover h3 {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        color: rgb(36, 36, 36);
        text-underline-offset: 6px;
    }

    ul {
        font-size: 0.875rem;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            margin-top: 0.5rem;

            a {
                margin: 0em 0em 1em;
                color: $basis_red;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
            }

            a:hover {
                color: $effect_red;
                border-bottom: solid 2px $effect_red;
                transition: 200ms;
            }
        }
    }
}

div.privacylogo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


section.end-footer {
    width: 100%;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 2rem 1rem 114px;
    position: static;
}
div.end-container {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.grid-end {
    width: 100%;
    font-size: 11.5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: .5rem;
    justify-items: center;
    .last-row{
        display: block;
    }
}
.mod {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
div.flexbox-contact {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-weight: bold;
    a {
        margin: 0em 0em 1em;
        text-decoration: none;
        color: $white;
        font-weight: 400;
        font-size: 10px;
    }
    a:hover {
        color: $white;
        border-bottom: solid 2px $white;
        transition: 200ms;
    }
}
svg {
    width: 44px;
    height: 36px;
}
span.change-region {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

span.change-region-text {
    padding-left: 2px;
    font-weight: bold;
}
div.language-select {
    a{
        color: $white;
        text-decoration: none;
    }
    a:hover{
        color: $white;
    }
    .change-region-text:hover {
        color: $white;
        border-bottom: solid 2px $white;
        transition: 200ms;
    }
}


@media (min-width: 429px) {
    div.grid-middle {
        display: grid;
        margin: 1rem auto;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;

        div {
            font-size: 1.125rem;
        }
    }
}

@media (min-width: 768px) {
    div.red-banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.grid-middle {
        display: grid;
        margin: 1rem auto;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }

    div.social {
        gap: 4rem;
    }

}

@media (min-width: 1025px) {
    div.grid-middle {
        display: grid;
        margin: 1rem auto;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        padding-left: 2em;
    }

    div.privacylogo {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    section.end-footer{
    padding: 2rem 1rem;
    div.grid-end {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        align-items: center;
        margin: auto;
        div.flexbox-contact {
            padding-left: 2rem;
        }
        .mod {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .paragraph {
            width: 100%;
            text-align: left;
}
        .last-row {
            display: inline;
        }
        span.change-region {
            padding: 0;
        }
    }

}

}


@media (min-width: 1440px) {
    div.grid-middle {
        display: grid;
        margin: 1rem auto;
        justify-content: center;
        grid-template-areas:
            'about shop myNintendo support parents community'
            'about shop myNintendo support privacy community';
        row-gap: 2rem;
        column-gap: 1rem;
    }

    .about {
        grid-area: about;
    }

    .shop {
        grid-area: shop;
    }

    .my-nintendo {
        grid-area: myNintendo;
    }

    .support {
        grid-area: support;
    }

    .parents {
        grid-area: parents;
    }

    .community {
        grid-area: community;
    }

    .privacy {
        grid-area: privacy;
    }
}



// SECTION CHARACTHERS DIGITAL BEST SELLERS



.CharactersTitle {
    color: $text_color;
    font-size: 1.75rem;
    line-height: 1.35;
}
.container-sec {
    margin: 0 auto;
    width: 95%;    
}


.gridCharacters {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    margin-right: 0;
}

.card1 {
    width: 100%;
    height: 48%;
}

.Charactersstyles {
    width: 48%;
    height: 100%;
   
}

.link {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

// .secondImage {
//     height: 100%;  
// }

.background-sec {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;

}

.over {
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in-out 0s;
    background: none;

}

.Charactersstyles:hover {
    .background-sec {
        transform: scale(1);
    }

    .over:hover {
        transform: scale(1.15);
    }
}



//card 
.BestSellerDigitali {
    display: flex;
   align-items: center;
    margin: 0;  
}

.block{
    display: inline-block;
}


h1 {
    text-align: start;
    margin: 0px;
    padding: 0px;
}

.title_Best_seller {
    margin-right: 1rem;
    margin-bottom: 0px;
    border-right: 1px solid rgb(218, 218, 218);
    padding-right: 1rem;
}





.title_seller {
    font-size: 1.5rem;
    color: $text_color;
}
.card {
    width: 17rem;
    height: 100%;
}
.card:hover {

    .card-img-top {
        position: relative;
        bottom: 1em;
    }

    .card-title {
        color: $basis_red;
    }

}

.card-top {
    width: 100%;
    height: 8.5rem;
}

.card-title {
    color: $text_color;
}

.card-body {
    width: 100%;
    height: 15rem;
}

.card-title {
    font-size: 1.2rem;
}
.heart {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    line-height: 1;
    color: $effect_red;
    transition: color 200ms ease-in-out 0s;
    :hover {

        .sparks {
            color: $effect_red;
            display: contents;
    
            transition-duration: 10s;
            transition-timing-function: ease-out;
        }
    }
}

.svg {
    width: 40px;
    height: 40px;
    fill: white;
    fill-opacity: 1;
    stroke: $basis_red;
    stroke-width: 4;
    stroke-opacity: 1;

    &:hover {
        fill: white;
        fill-opacity: 1;
        stroke: $effect_red;
        stroke-width: 4;
        stroke-opacity: 1;
    }
    
}


.heart-filled {
    background-color: red;
    color: white;
    line-height: 1;
    color: $basis_red;
    border-color: $basis_red;
    border-width: 3px;
    font-size: 5px;
}


.heart-outline {
    animation: 0s ease 0s 1 normal none running none;
    border: 2px solid $basis_red;
    line-height: 1;
    background-color: $basis_red;
    color: $basis_red;
}

.sparks {
color: $effect_red;
    display: none;
}

.new {
    width: 75%;
    border-radius: 5px;
    color: $white;
}

.border-left {
    padding-left: 0.2rem;
}
// bottoe full list fine card 


.See_full_list2 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid white;
    text-align: center;
    background-color: $basis_red;
    border-radius: 2%;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 160px;

    &:hover {

        // background-color: $effect-red;
        // color: white;
        transform: scale(1.10);
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: all 300ms ease-in-out 0s;
        font-weight: 700;
        border: unset;
        color: rgb(255, 255, 255);
    }


}

.full_list {
    color: $basis_red;
    text-decoration: underline;
    font-weight: bold;
    width: 100%;

    &:hover {
        color: $effect_red;
    }
}


a {
    text-decoration: none;
}






@media (min-width: 768px) {
    .gridCharacters {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
        

    }
   .card1 {
        
        width:49%;
    }
    .Charactersstyles {
        display: flex;
        flex-direction: column;
        width: 47.8%;
    }

 
}



@media (min-width: 429px){
    .CharactersTitle {
        font-size: 1.75rem;
        line-height: 1.35;
    }
    .Nintendo{
    font-size: 0.675rem;
}

.nameImage {

    font-size: 1.3125rem
}

.Characters {
    font-size: 1.35rem

}
.title_Best_seller {
    font-size: 1.75rem;
}

}


@media (min-width: 1050px) {
.container-sec {
   max-width: 71.5rem;
}


}

